.news-section {
  padding: 10px 70px;
  font-family: 'Poppins', sans-serif;
}

.news-section h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 60px;
  color: #2E3A59;
  font-family: 'Fraunces', serif;
}

.news-card {
  display: flex;
  flex-direction: column; /* fixed */
  text-decoration: none;
  color: inherit;
  background: #f1f9f9;
  border-radius: 22px;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.news-card:hover {
  transform: scale(1.01);
}

.news-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.news-content {
  padding: 8px;
  flex: 1;
  text-align: center;
}

.news-content h4 {
  font-size: 22px;
  font-weight: 600;
}

.news-content p {
  font-size: 16px;
  color: #444;
}
